DATABASE_URL="sqlserver://utelms-database.cxisgueu4zrw.ap-southeast-2.rds.amazonaws.com:1433;database=uteLMS;user=uteUser;password=StrongPassword123!;encrypt=true;trustServerCertificate=true"

PORT=3000
DB_HOST=utelms-database.cxisgueu4zrw.ap-southeast-2.rds.amazonaws.com
DB_USER=uteUser
DB_PASSWORD=StrongPassword123!
DB_NAME=uteLMS
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=2h

EMAIL_USER=tipoffkill307@gmail.com
EMAIL_PASSWORD=mkgcowwopgfxlljf
FRONTEND_URL=http://localhost:5173


SEPAY_API_KEY=0UKHLV7CD1XWKKME3PQTYQ1BZZLKFBFW4VB8YJGSV84SCV6OQGANFAZXHYNAQGNW

SEPAY_ACCOUNT_NUMBER=96247NMB0A

